
body {
font-family: Bahnschrift SemiBold Condensed;
background-color:#ffdfb9;
margin: 30px;
padding: 5px;
justify-content: center;
gap: 15px;
font-size:3em;
}
nav a {
  color: black;
  text-decoration: none;
  margin:5px;
border-radius: 10px;
background-color:rgb(2,158,255);
height: 60px;
width: 5px;
font-weight: bold;
font-size: 20px;
cursor: pointer;
margin-left: 8px;
margin-right: 2px;
box-shadow: 10px 10px 10px green;
padding: 10px
}
nav:hover{
opacity: 0.7;

}
img {
  margin-top: 15px;
  border-radius: 30px;
max-width:80%;
height:auto;
}
h1,h2,h3,h4{
font-family: algerian;
color: green;
 padding: 20px;}
embed{
margin-top: 15px
border-radius: 15px;}
b{
color:rgb(0,100,200);}
p{
text-decoration:lowercase;
color:black;}







